In [32]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
from tensorflow.keras.layers import Dense, Dropout, LeakyReLU
from tensorflow.keras.models import Sequential
from sklearn.metrics import accuracy_score

In [19]:
df = pd.read_csv('../Lab/data/Loan_approval_data_2025.csv')

df.head()

,customer_id,age,occupation_status,years_employed,annual_income,credit_score,credit_history_years,savings_assets,current_debt,defaults_on_file,delinquencies_last_2yrs,derogatory_marks,product_type,loan_intent,loan_amount,interest_rate,debt_to_income_ratio,loan_to_income_ratio,payment_to_income_ratio,loan_status
0,CUST100000,40,Employed,17.2,25579,692,5.3,895,10820,0,0,0,Credit Card,Business,600,17.02,0.423,0.023,0.008,1
1,CUST100001,33,Employed,7.3,43087,627,3.5,169,16550,0,1,0,Personal Loan,Home Improvement,53300,14.10,0.384,1.237,0.412,0
2,CUST100002,42,Student,1.1,20840,689,8.4,17,7852,0,0,0,Credit Card,Debt Consolidation,2100,18.33,0.377,0.101,0.034,1
3,CUST100003,53,Student,0.5,29147,692,9.8,1480,11603,0,1,0,Credit Card,Business,2900,18.74,0.398,0.099,0.033,1
4,CUST100004,32,Employed,12.5,63657,630,7.2,209,12424,0,0,0,Personal Loan,Education,99600,13.92,0.195,1.565,0.522,1

In [20]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50000 entries, 0 to 49999
Data columns (total 20 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   customer_id              50000 non-null  object
 1   age                      50000 non-null  int64
 2   occupation_status        50000 non-null  object
 3   years_employed           50000 non-null  float64
 4   annual_income            50000 non-null  int64
 5   credit_score             50000 non-null  int64
 6   credit_history_years     50000 non-null  float64
 7   savings_assets           50000 non-null  int64
 8   current_debt             50000 non-null  int64
 9   defaults_on_file         50000 non-null  int64
 10  delinquencies_last_2yrs  50000 non-null  int64
 11  derogatory_marks         50000 non-null  int64
 12  product_type             50000 non-null  object
 13  loan_intent              50000 non-null  object
 14  loan_amount              50000 non-null  int64
 15  interest_rate            50000 non-null  float64
 16  debt_to_income_ratio     50000 non-null  float64
 17  loan_to_income_ratio     50000 non-null  float64
 18  payment_to_income_ratio  50000 non-null  float64
 19  loan_status              50000 non-null  int64
dtypes: float64(6), int64(10), object(4)
memory usage: 7.6+ MB

In [21]:
for col in df.select_dtypes(include=['object']).columns:
    print(f"Value counts for {col}:")
    print(df[col].value_counts())
    print("\n")

Value counts for customer_id:
customer_id
CUST149983    1
CUST149982    1
CUST149981    1
CUST149980    1
CUST149979    1
             ..
CUST100004    1
CUST100003    1
CUST100002    1
CUST100001    1
CUST100000    1
Name: count, Length: 50000, dtype: int64


Value counts for occupation_status:
occupation_status
Employed         34971
Self-Employed    10179
Student           4850
Name: count, dtype: int64


Value counts for product_type:
product_type
Credit Card       22455
Personal Loan     17523
Line of Credit    10022
Name: count, dtype: int64


Value counts for loan_intent:
loan_intent
Personal              12429
Education             10134
Medical                7598
Business               7469
Home Improvement       7453
Debt Consolidation     4917
Name: count, dtype: int64

In [22]:
df['product_type'].value_counts()

product_type
Credit Card       22455
Personal Loan     17523
Line of Credit    10022
Name: count, dtype: int64

In [23]:
df = pd.get_dummies(df, columns=['product_type', 'occupation_status', 'loan_intent'], drop_first=True)

In [24]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50000 entries, 0 to 49999
Data columns (total 26 columns):
 #   Column                           Non-Null Count  Dtype
---  ------                           --------------  -----
 0   customer_id                      50000 non-null  object
 1   age                              50000 non-null  int64
 2   years_employed                   50000 non-null  float64
 3   annual_income                    50000 non-null  int64
 4   credit_score                     50000 non-null  int64
 5   credit_history_years             50000 non-null  float64
 6   savings_assets                   50000 non-null  int64
 7   current_debt                     50000 non-null  int64
 8   defaults_on_file                 50000 non-null  int64
 9   delinquencies_last_2yrs          50000 non-null  int64
 10  derogatory_marks                 50000 non-null  int64
 11  loan_amount                      50000 non-null  int64
 12  interest_rate                    50000 non-null  float64
 13  debt_to_income_ratio             50000 non-null  float64
 14  loan_to_income_ratio             50000 non-null  float64
 15  payment_to_income_ratio          50000 non-null  float64
 16  loan_status                      50000 non-null  int64
 17  product_type_Line of Credit      50000 non-null  bool
 18  product_type_Personal Loan       50000 non-null  bool
 19  occupation_status_Self-Employed  50000 non-null  bool
 20  occupation_status_Student        50000 non-null  bool
 21  loan_intent_Debt Consolidation   50000 non-null  bool
 22  loan_intent_Education            50000 non-null  bool
 23  loan_intent_Home Improvement     50000 non-null  bool
 24  loan_intent_Medical              50000 non-null  bool
 25  loan_intent_Personal             50000 non-null  bool
dtypes: bool(9), float64(6), int64(10), object(1)
memory usage: 6.9+ MB

In [25]:
X = df.drop(['customer_id', 'loan_status'], axis=1)
y = df['loan_status']

scaler = StandardScaler()
X_scaled = scaler.fit_transform(X)

X_train, X_test, y_train, y_test = train_test_split(X_scaled, y, test_size=0.2, random_state=42)

In [26]:
model = Sequential([
    Dense(128, activation=None, input_shape=(X_train.shape[1],)),
    LeakyReLU(),
    Dropout(0.2),
    Dense(64, activation=None),
    LeakyReLU(),
    Dropout(0.2),
    Dense(32, activation=None),
    LeakyReLU(),
    Dense(1, activation="sigmoid")
])

c:\Users\Owais\AppData\Local\Programs\Python\Python312\Lib\site-packages\keras\src\layers\core\dense.py:93: UserWarning: Do not pass an `input_shape`/`input_dim` argument to a layer. When using Sequential models, prefer using an `Input(shape)` object as the first layer in the model instead.
  super().__init__(activity_regularizer=activity_regularizer, **kwargs)

In [27]:
model.compile(optimizer="adam", loss="binary_crossentropy", metrics=['accuracy'])

model.fit(X_train, y_train ,batch_size=32, epochs=50, validation_batch_size=0.2)

Epoch 1/50
1250/1250 ━━━━━━━━━━━━━━━━━━━━ 7s 4ms/step - accuracy: 0.8494 - loss: 0.3285
Epoch 2/50
1250/1250 ━━━━━━━━━━━━━━━━━━━━ 4s 3ms/step - accuracy: 0.8930 - loss: 0.2398
Epoch 3/50
1250/1250 ━━━━━━━━━━━━━━━━━━━━ 4s 3ms/step - accuracy: 0.8965 - loss: 0.2305
Epoch 4/50
1250/1250 ━━━━━━━━━━━━━━━━━━━━ 4s 3ms/step - accuracy: 0.8971 - loss: 0.2284
Epoch 5/50
1250/1250 ━━━━━━━━━━━━━━━━━━━━ 4s 3ms/step - accuracy: 0.9040 - loss: 0.2171
Epoch 6/50
1250/1250 ━━━━━━━━━━━━━━━━━━━━ 4s 3ms/step - accuracy: 0.9031 - loss: 0.2202
Epoch 7/50
1250/1250 ━━━━━━━━━━━━━━━━━━━━ 4s 3ms/step - accuracy: 0.9048 - loss: 0.2155
Epoch 8/50
1250/1250 ━━━━━━━━━━━━━━━━━━━━ 4s 3ms/step - accuracy: 0.9057 - loss: 0.2104
Epoch 9/50
1250/1250 ━━━━━━━━━━━━━━━━━━━━ 4s 3ms/step - accuracy: 0.9053 - loss: 0.2120
Epoch 10/50
1250/1250 ━━━━━━━━━━━━━━━━━━━━ 4s 3ms/step - accuracy: 0.9069 - loss: 0.2094
Epoch 11/50
1250/1250 ━━━━━━━━━━━━━━━━━━━━ 4s 3ms/step - accuracy: 0.9083 - loss: 0.2058
Epoch 12/50
1250/1250 ━━━━━━━━━━━━━━━━━━━━ 4s 3ms/step - accuracy: 0.9098 - loss: 0.2045
Epoch 13/50
1250/1250 ━━━━━━━━━━━━━━━━━━━━ 4s 3ms/step - accuracy: 0.9086 - loss: 0.2080
Epoch 14/50
1250/1250 ━━━━━━━━━━━━━━━━━━━━ 4s 3ms/step - accuracy: 0.9084 - loss: 0.2045
Epoch 15/50
1250/1250 ━━━━━━━━━━━━━━━━━━━━ 4s 3ms/step - accuracy: 0.9085 - loss: 0.2042
Epoch 16/50
1250/1250 ━━━━━━━━━━━━━━━━━━━━ 4s 3ms/step - accuracy: 0.9091 - loss: 0.2051
Epoch 17/50
1250/1250 ━━━━━━━━━━━━━━━━━━━━ 4s 3ms/step - accuracy: 0.9123 - loss: 0.2003
Epoch 18/50
1250/1250 ━━━━━━━━━━━━━━━━━━━━ 4s 4ms/step - accuracy: 0.9098 - loss: 0.2021
Epoch 19/50
1250/1250 ━━━━━━━━━━━━━━━━━━━━ 4s 3ms/step - accuracy: 0.9076 - loss: 0.2024
Epoch 20/50
1250/1250 ━━━━━━━━━━━━━━━━━━━━ 4s 3ms/step - accuracy: 0.9090 - loss: 0.2044
Epoch 21/50
1250/1250 ━━━━━━━━━━━━━━━━━━━━ 4s 4ms/step - accuracy: 0.9095 - loss: 0.2032
Epoch 22/50
1250/1250 ━━━━━━━━━━━━━━━━━━━━ 4s 3ms/step - accuracy: 0.9138 - loss: 0.1949
Epoch 23/50
1250/1250 ━━━━━━━━━━━━━━━━━━━━ 5s 4ms/step - accuracy: 0.9101 - loss: 0.2011
Epoch 24/50
1250/1250 ━━━━━━━━━━━━━━━━━━━━ 5s 4ms/step - accuracy: 0.9110 - loss: 0.1990
Epoch 25/50
1250/1250 ━━━━━━━━━━━━━━━━━━━━ 5s 4ms/step - accuracy: 0.9105 - loss: 0.1998
Epoch 26/50
1250/1250 ━━━━━━━━━━━━━━━━━━━━ 4s 3ms/step - accuracy: 0.9100 - loss: 0.1993
Epoch 27/50
1250/1250 ━━━━━━━━━━━━━━━━━━━━ 4s 4ms/step - accuracy: 0.9122 - loss: 0.1971
Epoch 28/50
1250/1250 ━━━━━━━━━━━━━━━━━━━━ 4s 3ms/step - accuracy: 0.9103 - loss: 0.1961
Epoch 29/50
1250/1250 ━━━━━━━━━━━━━━━━━━━━ 4s 4ms/step - accuracy: 0.9142 - loss: 0.1943
Epoch 30/50
1250/1250 ━━━━━━━━━━━━━━━━━━━━ 4s 3ms/step - accuracy: 0.9118 - loss: 0.1972
Epoch 31/50
1250/1250 ━━━━━━━━━━━━━━━━━━━━ 4s 3ms/step - accuracy: 0.9125 - loss: 0.1939
Epoch 32/50
1250/1250 ━━━━━━━━━━━━━━━━━━━━ 4s 3ms/step - accuracy: 0.9117 - loss: 0.1981
Epoch 33/50
1250/1250 ━━━━━━━━━━━━━━━━━━━━ 4s 4ms/step - accuracy: 0.9134 - loss: 0.1962
Epoch 34/50
1250/1250 ━━━━━━━━━━━━━━━━━━━━ 4s 3ms/step - accuracy: 0.9107 - loss: 0.2004
Epoch 35/50
1250/1250 ━━━━━━━━━━━━━━━━━━━━ 5s 4ms/step - accuracy: 0.9141 - loss: 0.1946
Epoch 36/50
1250/1250 ━━━━━━━━━━━━━━━━━━━━ 4s 4ms/step - accuracy: 0.9122 - loss: 0.1963
Epoch 37/50
1250/1250 ━━━━━━━━━━━━━━━━━━━━ 5s 4ms/step - accuracy: 0.9140 - loss: 0.1929
Epoch 38/50
1250/1250 ━━━━━━━━━━━━━━━━━━━━ 4s 3ms/step - accuracy: 0.9087 - loss: 0.1977
Epoch 39/50
1250/1250 ━━━━━━━━━━━━━━━━━━━━ 4s 4ms/step - accuracy: 0.9105 - loss: 0.1970
Epoch 40/50
1250/1250 ━━━━━━━━━━━━━━━━━━━━ 5s 4ms/step - accuracy: 0.9114 - loss: 0.1958
Epoch 41/50
1250/1250 ━━━━━━━━━━━━━━━━━━━━ 4s 4ms/step - accuracy: 0.9137 - loss: 0.1971
Epoch 42/50
1250/1250 ━━━━━━━━━━━━━━━━━━━━ 5s 4ms/step - accuracy: 0.9129 - loss: 0.1929
Epoch 43/50
1250/1250 ━━━━━━━━━━━━━━━━━━━━ 4s 4ms/step - accuracy: 0.9142 - loss: 0.1941
Epoch 44/50
1250/1250 ━━━━━━━━━━━━━━━━━━━━ 5s 4ms/step - accuracy: 0.9146 - loss: 0.1933
Epoch 45/50
1250/1250 ━━━━━━━━━━━━━━━━━━━━ 4s 4ms/step - accuracy: 0.9128 - loss: 0.1929
Epoch 46/50
1250/1250 ━━━━━━━━━━━━━━━━━━━━ 5s 4ms/step - accuracy: 0.9139 - loss: 0.1931
Epoch 47/50
1250/1250 ━━━━━━━━━━━━━━━━━━━━ 4s 4ms/step - accuracy: 0.9117 - loss: 0.1966
Epoch 48/50
1250/1250 ━━━━━━━━━━━━━━━━━━━━ 4s 3ms/step - accuracy: 0.9159 - loss: 0.1889
Epoch 49/50
1250/1250 ━━━━━━━━━━━━━━━━━━━━ 4s 4ms/step - accuracy: 0.9156 - loss: 0.1900
Epoch 50/50
1250/1250 ━━━━━━━━━━━━━━━━━━━━ 4s 3ms/step - accuracy: 0.9133 - loss: 0.1929

In [34]:
y_pred = model.predict(X_test)

accuracy_score(y_test, np.round(y_pred))

313/313 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step

0.9158