In [25]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np

In [16]:
df1 = pd.read_csv("Lab2 D1A.csv")
df2 = pd.read_csv("Lab2 D1B.csv")
df3 = pd.read_csv('Lab2 D1C.csv')

In [17]:
display(df1.head())
display(df2.head())
display(df3.head())

,fid,name,population,county,latitude
0,9001,NEW ENGLAND CHRISTIAN ACADEMY,136,BRISTOL,41.758597
1,9002,SETON ACADEMY FOR GIRLS,57,BRISTOL,41.718407
2,9003,ST ANNA SCHOOL,157,WORCESTER,42.517271
3,9004,SOUTHEAST ALTERNATIVE SCHOOL-MIDDLE SCHOOL,5,PLYMOUTH,41.818210
4,9005,DEVEREUX SCHOOL,123,WORCESTER,42.383875

,name,population,county,longitude,level,enrollment,level.1
0,NEW ENGLAND CHRISTIAN ACADEMY,136,BRISTOL,-71.175801,Combined elementary and secondary,120,Combined elementary and secondary
1,SETON ACADEMY FOR GIRLS,57,BRISTOL,-71.147302,Elementary,49,Elementary
2,ST ANNA SCHOOL,157,WORCESTER,-71.751741,Elementary,143,Elementary
3,SOUTHEAST ALTERNATIVE SCHOOL-MIDDLE SCHOOL,5,PLYMOUTH,-71.083393,Elementary,4,Elementary
4,DEVEREUX SCHOOL,123,WORCESTER,-71.968419,Combined elementary and secondary,107,Combined elementary and secondary

      county        city  score
0    BRISTOL     SWANSEA     16
1    BRISTOL  FALL RIVER      8
2  WORCESTER  LEOMINSTER     14
3   PLYMOUTH  MIDDLEBORO      1
4  WORCESTER     RUTLAND     16

# Q1

In [18]:
df1.drop_duplicates(inplace=True)
df2.drop_duplicates(inplace=True)

In [19]:
merged_df = df1.merge(right=df2, how="inner", on=["name", "population", "county"])

In [20]:
display(merged_df.columns)
display(merged_df.shape)

Index(['fid', 'name', 'population', 'county', 'latitude', 'longitude', 'level',
       'enrollment', 'level.1'],
      dtype='object')

(27033, 9)

In [21]:
merged_A_C = df1.merge(right=df3, how="inner", on="county")

In [27]:
merged_A_C.head()

,fid,name,population,county,latitude,city,score
0,9001,NEW ENGLAND CHRISTIAN ACADEMY,136,BRISTOL,41.758597,SWANSEA,16
1,9001,NEW ENGLAND CHRISTIAN ACADEMY,136,BRISTOL,41.758597,FALL RIVER,8
2,9001,NEW ENGLAND CHRISTIAN ACADEMY,136,BRISTOL,41.758597,NEW BEDFORD,8
3,9001,NEW ENGLAND CHRISTIAN ACADEMY,136,BRISTOL,41.758597,MANSFIELD,14
4,9001,NEW ENGLAND CHRISTIAN ACADEMY,136,BRISTOL,41.758597,ATTLEBORO,5

In [23]:
display(merged_A_C.shape)
display(merged_A_C.columns)

(4221333, 7)

Index(['fid', 'name', 'population', 'county', 'latitude', 'city', 'score'], dtype='object')

# Q2

In [26]:
counties = [
    "Los Angeles County", "Cook County", "Harris County", "Maricopa County", "San Diego County",
    "Orange County", "Miami-Dade County", "Dallas County", "Kings County", "Riverside County",
    "Queens County", "Clark County", "Tarrant County", "Santa Clara County", "Broward County",
    "Bexar County", "Wayne County", "Alameda County", "Middlesex County", "Sacramento County",
    "Philadelphia County", "Allegheny County", "Fresno County", "Hillsborough County", "New York County",
    "Palm Beach County", "Cuyahoga County", "Honolulu County", "Travis County", "Fairfax County",
    "Hennepin County", "Salt Lake County", "Nassau County", "DuPage County", "Oakland County",
    "Orange County (FL)", "Montgomery County (MD)", "El Paso County", "Baltimore County", "Miami County (OH)",
    "King County (WA)", "Milwaukee County", "Wake County", "Tulsa County", "Pima County",
    "Bergen County", "Fulton County", "Gloucester County", "San Bernardino County", "Hudson County"
]


sizes = ["small", "medium", "high"]
cardinal_directions = ["North", "South", "East", "West"]
Timings = ["full time", "part time"]
conditions = ["excellent", "fine", "abysmal"]
designations = ["janitor", "manager", "team lead"]

size_data = [sizes[np.random.randint(0,3)] for i in range(50)]
CD_data = [cardinal_directions[np.random.randint(0,4)] for i in range(50)]
Timing_data = [Timings[np.random.randint(0,2)] for i in range(50)]
condition_data = [conditions[np.random.randint(0,3)] for i in range(50)]
designation_data = [designations[np.random.randint(0,3)] for i in range(50)]

dictionary = {
    "county": counties,
    "size": size_data,
    "cardinal direction": CD_data,
    "timing": Timing_data,
    "condition": condition_data,
    "designation": designation_data
}

new_df = pd.DataFrame(dictionary)
new_df

,county,size,cardinal direction,timing,condition,designation
0,Los Angeles County,high,West,part time,excellent,janitor
1,Cook County,medium,South,part time,fine,team lead
2,Harris County,medium,West,full time,abysmal,manager
3,Maricopa County,high,West,full time,excellent,manager
4,San Diego County,high,South,full time,fine,manager
5,Orange County,small,West,part time,excellent,janitor
6,Miami-Dade County,small,South,part time,fine,team lead
7,Dallas County,small,South,part time,excellent,janitor
8,Kings County,small,South,full time,fine,janitor
9,Riverside County,small,South,full time,excellent,janitor
10,Queens County,high,East,part time,abysmal,manager
11,Clark County,small,West,full time,abysmal,team lead
12,Tarrant County,small,East,part time,fine,janitor
13,Santa Clara County,small,East,full time,excellent,manager
14,Broward County,small,North,full time,fine,manager
15,Bexar County,small,East,part time,excellent,team lead
16,Wayne County,high,East,part time,abysmal,team lead
17,Alameda County,small,South,full time,excellent,manager
18,Middlesex County,medium,East,full time,fine,manager
19,Sacramento County,medium,South,part time,abysmal,manager
20,Philadelphia County,small,South,full time,abysmal,team lead
21,Allegheny County,small,East,part time,excellent,team lead
22,Fresno County,high,South,part time,excellent,team lead
23,Hillsborough County,high,West,part time,fine,team lead
24,New York County,high,East,full time,excellent,janitor
25,Palm Beach County,high,West,full time,abysmal,team lead
26,Cuyahoga County,small,North,part time,abysmal,janitor
27,Honolulu County,small,North,part time,excellent,manager
28,Travis County,small,East,full time,abysmal,manager
29,Fairfax County,small,West,full time,fine,manager
30,Hennepin County,high,East,full time,excellent,janitor
31,Salt Lake County,medium,South,part time,fine,manager
32,Nassau County,high,North,part time,abysmal,manager
33,DuPage County,small,South,full time,excellent,manager
34,Oakland County,small,East,full time,abysmal,janitor
35,Orange County (FL),high,North,part time,abysmal,team lead
36,Montgomery County (MD),small,North,part time,abysmal,manager
37,El Paso County,high,East,part time,fine,manager
38,Baltimore County,small,North,full time,excellent,manager
39,Miami County (OH),medium,West,full time,fine,team lead
40,King County (WA),medium,East,full time,abysmal,manager
41,Milwaukee County,high,South,part time,excellent,team lead
42,Wake County,small,North,full time,excellent,manager
43,Tulsa County,small,North,full time,fine,manager
44,Pima County,medium,South,full time,abysmal,team lead
45,Bergen County,small,North,full time,fine,team lead
46,Fulton County,small,South,part time,fine,team lead
47,Gloucester County,small,North,part time,excellent,team lead
48,San Bernardino County,small,West,full time,abysmal,janitor
49,Hudson County,medium,South,part time,abysmal,janitor

In [ ]:
print("Before: ")

In [ ]:
modifiedData = pd.merge(left=merged_df, right=merged_A_C, how="inner", on=list(set(merged_df.columns) & set(merged_A_C.columns)))
modifiedData = modifiedData.merge(right=new_df, how="inner", on=list(set(modifiedData) & set(new_df)))