In [2]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score, precision_score, recall_score, f1_score, mean_squared_error, mean_absolute_error
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
from tensorflow.keras.layers import Dense
from tensorflow.keras.models import Sequential

# Q1

In [118]:
df = pd.read_csv('../data/05/heart.csv')

df.head()

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
0,52,1,0,125,212,0,1,168,0,1.0,2,2,3,0
1,53,1,0,140,203,1,0,155,1,3.1,0,0,3,0
2,70,1,0,145,174,0,1,125,1,2.6,0,0,3,0
3,61,1,0,148,203,0,1,161,0,0.0,2,1,3,0
4,62,0,0,138,294,1,1,106,0,1.9,1,3,2,0

In [119]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1025 entries, 0 to 1024
Data columns (total 14 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   age       1025 non-null   int64
 1   sex       1025 non-null   int64
 2   cp        1025 non-null   int64
 3   trestbps  1025 non-null   int64
 4   chol      1025 non-null   int64
 5   fbs       1025 non-null   int64
 6   restecg   1025 non-null   int64
 7   thalach   1025 non-null   int64
 8   exang     1025 non-null   int64
 9   oldpeak   1025 non-null   float64
 10  slope     1025 non-null   int64
 11  ca        1025 non-null   int64
 12  thal      1025 non-null   int64
 13  target    1025 non-null   int64
dtypes: float64(1), int64(13)
memory usage: 112.2 KB

In [120]:
X = df.drop('target', axis=1)
y = df['target']

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

In [121]:
l1_lr = LogisticRegression(penalty='l1', solver='liblinear')
l1_lr.fit(X_train, y_train)

train_l1 = accuracy_score(y_train, l1_lr.predict(X_train))
test_l1 = accuracy_score(y_test, l1_lr.predict(X_test))

In [122]:
l2_lr = LogisticRegression(penalty='l2', solver='liblinear')
l2_lr.fit(X_train, y_train)

train_l2 = accuracy_score(y_train, l2_lr.predict(X_train))
test_l2 = accuracy_score(y_test, l2_lr.predict(X_test))

In [123]:
en_lr = LogisticRegression(penalty='elasticnet', l1_ratio=0.5, solver='saga', max_iter=10000)
en_lr.fit(X_train, y_train)

train_en = accuracy_score(y_train, en_lr.predict(X_train))
test_en = accuracy_score(y_test, en_lr.predict(X_test))

In [124]:
results = pd.DataFrame({
    'Model': ['L1', 'L2', 'Elastic Net'],
    'Train Accuracy': [train_l1, train_l2, train_en],
    'Test Accuracy': [test_l1, test_l2, test_en]
})

results

         Model  Train Accuracy  Test Accuracy
0           L1        0.873171       0.785366
1           L2        0.869512       0.785366
2  Elastic Net        0.860976       0.790244

#### L1 shows error if solver is lbfgs
#### Elastic Net shows error if solver is not saga and needs l1_ratio

# Q2

In [125]:
df = pd.read_csv('../data/Iris.csv')

df.head()

   Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm      Species
0   1            5.1           3.5            1.4           0.2  Iris-setosa
1   2            4.9           3.0            1.4           0.2  Iris-setosa
2   3            4.7           3.2            1.3           0.2  Iris-setosa
3   4            4.6           3.1            1.5           0.2  Iris-setosa
4   5            5.0           3.6            1.4           0.2  Iris-setosa

In [126]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150 entries, 0 to 149
Data columns (total 6 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Id             150 non-null    int64
 1   SepalLengthCm  150 non-null    float64
 2   SepalWidthCm   150 non-null    float64
 3   PetalLengthCm  150 non-null    float64
 4   PetalWidthCm   150 non-null    float64
 5   Species        150 non-null    object
dtypes: float64(4), int64(1), object(1)
memory usage: 7.2+ KB

In [127]:
df['Species'].value_counts()

Species
Iris-setosa        50
Iris-versicolor    50
Iris-virginica     50
Name: count, dtype: int64

In [128]:
X = df.drop(['Species', 'Id'], axis=1)
y = df['Species']

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

In [129]:
lr = LogisticRegression(multi_class='multinomial', solver='lbfgs', max_iter=2000)
lr.fit(X_train, y_train)

train_lbfgs = accuracy_score(y_train, lr.predict(X_train))
test_lbfgs = accuracy_score(y_test, lr.predict(X_test))

c:\Users\Owais\AppData\Local\Programs\Python\Python312\Lib\site-packages\sklearn\linear_model\_logistic.py:1247: FutureWarning: 'multi_class' was deprecated in version 1.5 and will be removed in 1.7. From then on, it will always use 'multinomial'. Leave it to its default value to avoid this warning.
  warnings.warn(

In [130]:
lr = LogisticRegression(multi_class='multinomial', solver='newton-cholesky', max_iter=2000)
lr.fit(X_train, y_train)

train_newton = accuracy_score(y_train, lr.predict(X_train))
test_newton = accuracy_score(y_test, lr.predict(X_test))

c:\Users\Owais\AppData\Local\Programs\Python\Python312\Lib\site-packages\sklearn\linear_model\_logistic.py:1247: FutureWarning: 'multi_class' was deprecated in version 1.5 and will be removed in 1.7. From then on, it will always use 'multinomial'. Leave it to its default value to avoid this warning.
  warnings.warn(

In [131]:
lr = LogisticRegression(multi_class='multinomial', solver='sag', max_iter=20000)
lr.fit(X_train, y_train)

train_sag = accuracy_score(y_train, lr.predict(X_train))
test_sag = accuracy_score(y_test, lr.predict(X_test))

c:\Users\Owais\AppData\Local\Programs\Python\Python312\Lib\site-packages\sklearn\linear_model\_logistic.py:1247: FutureWarning: 'multi_class' was deprecated in version 1.5 and will be removed in 1.7. From then on, it will always use 'multinomial'. Leave it to its default value to avoid this warning.
  warnings.warn(

In [132]:
lr = LogisticRegression(multi_class='multinomial', solver='saga', max_iter=20000)
lr.fit(X_train, y_train)

train_saga = accuracy_score(y_train, lr.predict(X_train))
test_saga = accuracy_score(y_test, lr.predict(X_test))

c:\Users\Owais\AppData\Local\Programs\Python\Python312\Lib\site-packages\sklearn\linear_model\_logistic.py:1247: FutureWarning: 'multi_class' was deprecated in version 1.5 and will be removed in 1.7. From then on, it will always use 'multinomial'. Leave it to its default value to avoid this warning.
  warnings.warn(

In [133]:
results = pd.DataFrame({
    'Solver': ['lbfgs', 'newton-cholesky', 'sag', 'saga'],
    'Train Accuracy': [train_lbfgs, train_newton, train_sag, train_saga],
    'Test Accuracy': [test_lbfgs, test_newton, test_sag, test_saga]
})

results

            Solver  Train Accuracy  Test Accuracy
0            lbfgs        0.975000            1.0
1  newton-cholesky        0.975000            1.0
2              sag        0.975000            1.0
3             saga        0.983333            1.0

# Q3

In [134]:
df['Target'] = (df['Species'] == 'Iris-setosa').astype(int)

In [135]:
X = df.drop(['Species', 'Target', 'Id'], axis=1)
y = df['Target']

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

In [136]:
X_train.shape[1]

4

In [137]:
model = Sequential()
model.add(Dense(1, activation='sigmoid', input_shape=(X_train.shape[1],)))

model.compile(optimizer='adam', loss='binary_crossentropy', metrics=['accuracy'])

c:\Users\Owais\AppData\Local\Programs\Python\Python312\Lib\site-packages\keras\src\layers\core\dense.py:93: UserWarning: Do not pass an `input_shape`/`input_dim` argument to a layer. When using Sequential models, prefer using an `Input(shape)` object as the first layer in the model instead.
  super().__init__(activity_regularizer=activity_regularizer, **kwargs)

In [138]:
model.fit(X_train, y_train, epochs=5, batch_size=32, validation_split=0.2)

Epoch 1/5
3/3 ━━━━━━━━━━━━━━━━━━━━ 1s 95ms/step - accuracy: 0.6302 - loss: 0.5530 - val_accuracy: 0.7917 - val_loss: 0.3424
Epoch 2/5
3/3 ━━━━━━━━━━━━━━━━━━━━ 0s 33ms/step - accuracy: 0.6185 - loss: 0.5645 - val_accuracy: 0.7917 - val_loss: 0.3376
Epoch 3/5
3/3 ━━━━━━━━━━━━━━━━━━━━ 0s 31ms/step - accuracy: 0.6615 - loss: 0.5054 - val_accuracy: 0.7917 - val_loss: 0.3330
Epoch 4/5
3/3 ━━━━━━━━━━━━━━━━━━━━ 0s 32ms/step - accuracy: 0.6536 - loss: 0.4978 - val_accuracy: 0.7917 - val_loss: 0.3283
Epoch 5/5
3/3 ━━━━━━━━━━━━━━━━━━━━ 0s 32ms/step - accuracy: 0.5911 - loss: 0.5806 - val_accuracy: 0.7917 - val_loss: 0.3238

In [139]:
y_pred = model.predict(X_test)
y_pred = np.round(y_pred)

display(accuracy_score(y_test, y_pred))
display(accuracy_score(y_train, np.round(model.predict(X_train))))

1/1 ━━━━━━━━━━━━━━━━━━━━ 0s 52ms/step

0.6666666666666666

4/4 ━━━━━━━━━━━━━━━━━━━━ 0s 8ms/step

0.6666666666666666

# Q4

In [140]:
df = pd.read_csv("../data/09/WineQT.csv")

df.head()

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality,Id
0,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4,5,0
1,7.8,0.88,0.00,2.6,0.098,25.0,67.0,0.9968,3.20,0.68,9.8,5,1
2,7.8,0.76,0.04,2.3,0.092,15.0,54.0,0.9970,3.26,0.65,9.8,5,2
3,11.2,0.28,0.56,1.9,0.075,17.0,60.0,0.9980,3.16,0.58,9.8,6,3
4,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4,5,4

In [141]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1143 entries, 0 to 1142
Data columns (total 13 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   fixed acidity         1143 non-null   float64
 1   volatile acidity      1143 non-null   float64
 2   citric acid           1143 non-null   float64
 3   residual sugar        1143 non-null   float64
 4   chlorides             1143 non-null   float64
 5   free sulfur dioxide   1143 non-null   float64
 6   total sulfur dioxide  1143 non-null   float64
 7   density               1143 non-null   float64
 8   pH                    1143 non-null   float64
 9   sulphates             1143 non-null   float64
 10  alcohol               1143 non-null   float64
 11  quality               1143 non-null   int64
 12  Id                    1143 non-null   int64
dtypes: float64(11), int64(2)
memory usage: 116.2 KB

In [142]:
df['quality'].value_counts()

quality
5    483
6    462
7    143
4     33
8     16
3      6
Name: count, dtype: int64

In [143]:
X = df.drop(['Id', 'quality'], axis=1)
y = df['quality'] - 3

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

In [144]:
model = Sequential()
model.add(Dense(128, activation='relu', input_shape=(X_train.shape[1],)))
model.add(Dense(64, activation='tanh'))
model.add(Dense(32, activation='relu'))
model.add(Dense(6, activation='softmax'))

model.compile(optimizer='adam', loss='sparse_categorical_crossentropy', metrics=['accuracy'])

model.fit(X_train, y_train, epochs=50, batch_size=32, validation_batch_size=0.2)

Epoch 1/50

c:\Users\Owais\AppData\Local\Programs\Python\Python312\Lib\site-packages\keras\src\layers\core\dense.py:93: UserWarning: Do not pass an `input_shape`/`input_dim` argument to a layer. When using Sequential models, prefer using an `Input(shape)` object as the first layer in the model instead.
  super().__init__(activity_regularizer=activity_regularizer, **kwargs)

29/29 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - accuracy: 0.4636 - loss: 1.2689
Epoch 2/50
29/29 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - accuracy: 0.4756 - loss: 1.1650
Epoch 3/50
29/29 ━━━━━━━━━━━━━━━━━━━━ 0s 3ms/step - accuracy: 0.4985 - loss: 1.1464
Epoch 4/50
29/29 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - accuracy: 0.4990 - loss: 1.1451
Epoch 5/50
29/29 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - accuracy: 0.4648 - loss: 1.1469
Epoch 6/50
29/29 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - accuracy: 0.4894 - loss: 1.1319
Epoch 7/50
29/29 ━━━━━━━━━━━━━━━━━━━━ 0s 3ms/step - accuracy: 0.5125 - loss: 1.1164
Epoch 8/50
29/29 ━━━━━━━━━━━━━━━━━━━━ 0s 3ms/step - accuracy: 0.4919 - loss: 1.1084
Epoch 9/50
29/29 ━━━━━━━━━━━━━━━━━━━━ 0s 3ms/step - accuracy: 0.5098 - loss: 1.1227
Epoch 10/50
29/29 ━━━━━━━━━━━━━━━━━━━━ 0s 3ms/step - accuracy: 0.5076 - loss: 1.1328
Epoch 11/50
29/29 ━━━━━━━━━━━━━━━━━━━━ 0s 3ms/step - accuracy: 0.5187 - loss: 1.0915
Epoch 12/50
29/29 ━━━━━━━━━━━━━━━━━━━━ 0s 3ms/step - accuracy: 0.5405 - loss: 1.0664
Epoch 13/50
29/29 ━━━━━━━━━━━━━━━━━━━━ 0s 3ms/step - accuracy: 0.5370 - loss: 1.1174
Epoch 14/50
29/29 ━━━━━━━━━━━━━━━━━━━━ 0s 3ms/step - accuracy: 0.5387 - loss: 1.0700
Epoch 15/50
29/29 ━━━━━━━━━━━━━━━━━━━━ 0s 3ms/step - accuracy: 0.4937 - loss: 1.0704
Epoch 16/50
29/29 ━━━━━━━━━━━━━━━━━━━━ 0s 3ms/step - accuracy: 0.5306 - loss: 1.1132
Epoch 17/50
29/29 ━━━━━━━━━━━━━━━━━━━━ 0s 4ms/step - accuracy: 0.5524 - loss: 1.0571
Epoch 18/50
29/29 ━━━━━━━━━━━━━━━━━━━━ 0s 3ms/step - accuracy: 0.5408 - loss: 1.0190
Epoch 19/50
29/29 ━━━━━━━━━━━━━━━━━━━━ 0s 3ms/step - accuracy: 0.5319 - loss: 1.0541
Epoch 20/50
29/29 ━━━━━━━━━━━━━━━━━━━━ 0s 3ms/step - accuracy: 0.5337 - loss: 1.0842
Epoch 21/50
29/29 ━━━━━━━━━━━━━━━━━━━━ 0s 3ms/step - accuracy: 0.5194 - loss: 1.0806
Epoch 22/50
29/29 ━━━━━━━━━━━━━━━━━━━━ 0s 3ms/step - accuracy: 0.5321 - loss: 0.9922
Epoch 23/50
29/29 ━━━━━━━━━━━━━━━━━━━━ 0s 3ms/step - accuracy: 0.5620 - loss: 0.9799
Epoch 24/50
29/29 ━━━━━━━━━━━━━━━━━━━━ 0s 3ms/step - accuracy: 0.5387 - loss: 1.0531
Epoch 25/50
29/29 ━━━━━━━━━━━━━━━━━━━━ 0s 3ms/step - accuracy: 0.5656 - loss: 0.9678
Epoch 26/50
29/29 ━━━━━━━━━━━━━━━━━━━━ 0s 3ms/step - accuracy: 0.6080 - loss: 0.9439
Epoch 27/50
29/29 ━━━━━━━━━━━━━━━━━━━━ 0s 3ms/step - accuracy: 0.5199 - loss: 1.0513
Epoch 28/50
29/29 ━━━━━━━━━━━━━━━━━━━━ 0s 3ms/step - accuracy: 0.5994 - loss: 0.9883
Epoch 29/50
29/29 ━━━━━━━━━━━━━━━━━━━━ 0s 3ms/step - accuracy: 0.5421 - loss: 1.0260
Epoch 30/50
29/29 ━━━━━━━━━━━━━━━━━━━━ 0s 3ms/step - accuracy: 0.5743 - loss: 0.9997
Epoch 31/50
29/29 ━━━━━━━━━━━━━━━━━━━━ 0s 3ms/step - accuracy: 0.5579 - loss: 1.0342
Epoch 32/50
29/29 ━━━━━━━━━━━━━━━━━━━━ 0s 3ms/step - accuracy: 0.5743 - loss: 0.9606
Epoch 33/50
29/29 ━━━━━━━━━━━━━━━━━━━━ 0s 3ms/step - accuracy: 0.5967 - loss: 0.9853
Epoch 34/50
29/29 ━━━━━━━━━━━━━━━━━━━━ 0s 3ms/step - accuracy: 0.5830 - loss: 0.9518
Epoch 35/50
29/29 ━━━━━━━━━━━━━━━━━━━━ 0s 4ms/step - accuracy: 0.5219 - loss: 1.0344
Epoch 36/50
29/29 ━━━━━━━━━━━━━━━━━━━━ 0s 3ms/step - accuracy: 0.5602 - loss: 1.0103
Epoch 37/50
29/29 ━━━━━━━━━━━━━━━━━━━━ 0s 3ms/step - accuracy: 0.5824 - loss: 0.9693
Epoch 38/50
29/29 ━━━━━━━━━━━━━━━━━━━━ 0s 3ms/step - accuracy: 0.5822 - loss: 0.9593
Epoch 39/50
29/29 ━━━━━━━━━━━━━━━━━━━━ 0s 3ms/step - accuracy: 0.5892 - loss: 0.9286
Epoch 40/50
29/29 ━━━━━━━━━━━━━━━━━━━━ 0s 3ms/step - accuracy: 0.6070 - loss: 0.9557
Epoch 41/50
29/29 ━━━━━━━━━━━━━━━━━━━━ 0s 3ms/step - accuracy: 0.6217 - loss: 0.9597
Epoch 42/50
29/29 ━━━━━━━━━━━━━━━━━━━━ 0s 3ms/step - accuracy: 0.5850 - loss: 0.9500
Epoch 43/50
29/29 ━━━━━━━━━━━━━━━━━━━━ 0s 3ms/step - accuracy: 0.5344 - loss: 1.0160
Epoch 44/50
29/29 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - accuracy: 0.5588 - loss: 0.9686
Epoch 45/50
29/29 ━━━━━━━━━━━━━━━━━━━━ 0s 3ms/step - accuracy: 0.5816 - loss: 0.9519
Epoch 46/50
29/29 ━━━━━━━━━━━━━━━━━━━━ 0s 3ms/step - accuracy: 0.5686 - loss: 0.9659
Epoch 47/50
29/29 ━━━━━━━━━━━━━━━━━━━━ 0s 3ms/step - accuracy: 0.5793 - loss: 0.9553
Epoch 48/50
29/29 ━━━━━━━━━━━━━━━━━━━━ 0s 3ms/step - accuracy: 0.6091 - loss: 0.9083
Epoch 49/50
29/29 ━━━━━━━━━━━━━━━━━━━━ 0s 3ms/step - accuracy: 0.5878 - loss: 0.9457
Epoch 50/50
29/29 ━━━━━━━━━━━━━━━━━━━━ 0s 3ms/step - accuracy: 0.6074 - loss: 0.9229

In [145]:
y_train_pred = np.argmax(model.predict(X_train), axis=1)
y_test_pred  = np.argmax(model.predict(X_test), axis=1)

print("Accuracy Train: ", accuracy_score(y_train, y_train_pred))
print("Accuracy Test: ", accuracy_score(y_test, y_test_pred))
print()
print("Precision Train: ", precision_score(y_train, y_train_pred, average='weighted'))
print("Precision Test: ", precision_score(y_test, y_test_pred, average='weighted'))
print()
print("Recall Train: ", recall_score(y_train, y_train_pred, average='weighted'))
print("Recall Test: ", recall_score(y_test, y_test_pred, average='weighted'))
print()
print("F1 Score Train: ", f1_score(y_train, y_train_pred, average='weighted'))
print("F1 Score Test: ", f1_score(y_test, y_test_pred, average='weighted'))

29/29 ━━━━━━━━━━━━━━━━━━━━ 0s 3ms/step
8/8 ━━━━━━━━━━━━━━━━━━━━ 0s 4ms/step
Accuracy Train:  0.6203501094091903
Accuracy Test:  0.6462882096069869

Precision Train:  0.5859608995903295
Precision Test:  0.6208196170641586

Recall Train:  0.6203501094091903
Recall Test:  0.6462882096069869

F1 Score Train:  0.6008875999778163
F1 Score Test:  0.633029416282543

c:\Users\Owais\AppData\Local\Programs\Python\Python312\Lib\site-packages\sklearn\metrics\_classification.py:1565: UndefinedMetricWarning: Precision is ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, f"{metric.capitalize()} is", len(result))
c:\Users\Owais\AppData\Local\Programs\Python\Python312\Lib\site-packages\sklearn\metrics\_classification.py:1565: UndefinedMetricWarning: Precision is ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, f"{metric.capitalize()} is", len(result))

# Q5

In [3]:
df = pd.read_csv('../data/09/data.csv')

df.head()

,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,condition,sqft_above,sqft_basement,yr_built,yr_renovated,street,city,statezip,country
0,2014-05-02 00:00:00,313000.0,3.0,1.50,1340,7912,1.5,0,0,3,1340,0,1955,2005,18810 Densmore Ave N,Shoreline,WA 98133,USA
1,2014-05-02 00:00:00,2384000.0,5.0,2.50,3650,9050,2.0,0,4,5,3370,280,1921,0,709 W Blaine St,Seattle,WA 98119,USA
2,2014-05-02 00:00:00,342000.0,3.0,2.00,1930,11947,1.0,0,0,4,1930,0,1966,0,26206-26214 143rd Ave SE,Kent,WA 98042,USA
3,2014-05-02 00:00:00,420000.0,3.0,2.25,2000,8030,1.0,0,0,4,1000,1000,1963,0,857 170th Pl NE,Bellevue,WA 98008,USA
4,2014-05-02 00:00:00,550000.0,4.0,2.50,1940,10500,1.0,0,0,4,1140,800,1976,1992,9105 170th Ave NE,Redmond,WA 98052,USA

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4600 entries, 0 to 4599
Data columns (total 18 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   date           4600 non-null   object
 1   price          4600 non-null   float64
 2   bedrooms       4600 non-null   float64
 3   bathrooms      4600 non-null   float64
 4   sqft_living    4600 non-null   int64
 5   sqft_lot       4600 non-null   int64
 6   floors         4600 non-null   float64
 7   waterfront     4600 non-null   int64
 8   view           4600 non-null   int64
 9   condition      4600 non-null   int64
 10  sqft_above     4600 non-null   int64
 11  sqft_basement  4600 non-null   int64
 12  yr_built       4600 non-null   int64
 13  yr_renovated   4600 non-null   int64
 14  street         4600 non-null   object
 15  city           4600 non-null   object
 16  statezip       4600 non-null   object
 17  country        4600 non-null   object
dtypes: float64(4), int64(9), object(5)
memory usage: 647.0+ KB

In [5]:
obj_cols = df.select_dtypes(include=['object']).columns
obj_cols = obj_cols.drop('date')
df = pd.get_dummies(df, columns=obj_cols, drop_first=True)

In [10]:
X = df.drop(['price', 'date'], axis=1)
y = df['price']

scaler_x = StandardScaler()
scaler_y = StandardScaler()
X_scaled = scaler_x.fit_transform(X)
y_scaled = scaler_y.fit_transform(y.values.reshape(-1,1))

X_train, X_test, y_train, y_test = train_test_split(X_scaled, y_scaled, test_size=0.2, random_state=42)

In [11]:
model = Sequential()
model.add(Dense(128, activation='relu', input_shape=(X_train.shape[1],)))
model.add(Dense(64, activation='tanh'))
model.add(Dense(32, activation='relu'))
model.add(Dense(1, activation='linear'))

model.compile(optimizer="adam", loss='mean_squared_error', metrics=['mean_squared_error', 'mean_absolute_error'])

model.fit(X_train, y_train, batch_size=32, epochs=50, validation_batch_size=0.2)

Epoch 1/50

c:\Users\Owais\AppData\Local\Programs\Python\Python312\Lib\site-packages\keras\src\layers\core\dense.py:93: UserWarning: Do not pass an `input_shape`/`input_dim` argument to a layer. When using Sequential models, prefer using an `Input(shape)` object as the first layer in the model instead.
  super().__init__(activity_regularizer=activity_regularizer, **kwargs)

115/115 ━━━━━━━━━━━━━━━━━━━━ 3s 10ms/step - loss: 0.4820 - mean_absolute_error: 0.4527 - mean_squared_error: 0.4820
Epoch 2/50
115/115 ━━━━━━━━━━━━━━━━━━━━ 1s 10ms/step - loss: 0.2155 - mean_absolute_error: 0.3170 - mean_squared_error: 0.2155
Epoch 3/50
115/115 ━━━━━━━━━━━━━━━━━━━━ 1s 9ms/step - loss: 0.0975 - mean_absolute_error: 0.1873 - mean_squared_error: 0.0975
Epoch 4/50
115/115 ━━━━━━━━━━━━━━━━━━━━ 1s 9ms/step - loss: 0.0805 - mean_absolute_error: 0.1313 - mean_squared_error: 0.0805
Epoch 5/50
115/115 ━━━━━━━━━━━━━━━━━━━━ 1s 10ms/step - loss: 0.0524 - mean_absolute_error: 0.1008 - mean_squared_error: 0.0524
Epoch 6/50
115/115 ━━━━━━━━━━━━━━━━━━━━ 1s 9ms/step - loss: 0.0339 - mean_absolute_error: 0.0800 - mean_squared_error: 0.0339
Epoch 7/50
115/115 ━━━━━━━━━━━━━━━━━━━━ 1s 9ms/step - loss: 0.0476 - mean_absolute_error: 0.0719 - mean_squared_error: 0.0476
Epoch 8/50
115/115 ━━━━━━━━━━━━━━━━━━━━ 1s 9ms/step - loss: 0.0168 - mean_absolute_error: 0.0626 - mean_squared_error: 0.0168
Epoch 9/50
115/115 ━━━━━━━━━━━━━━━━━━━━ 1s 9ms/step - loss: 0.0107 - mean_absolute_error: 0.0548 - mean_squared_error: 0.0107
Epoch 10/50
115/115 ━━━━━━━━━━━━━━━━━━━━ 1s 9ms/step - loss: 0.0097 - mean_absolute_error: 0.0485 - mean_squared_error: 0.0097
Epoch 11/50
115/115 ━━━━━━━━━━━━━━━━━━━━ 1s 9ms/step - loss: 0.0076 - mean_absolute_error: 0.0421 - mean_squared_error: 0.0076
Epoch 12/50
115/115 ━━━━━━━━━━━━━━━━━━━━ 1s 9ms/step - loss: 0.0151 - mean_absolute_error: 0.0477 - mean_squared_error: 0.0151
Epoch 13/50
115/115 ━━━━━━━━━━━━━━━━━━━━ 1s 9ms/step - loss: 0.0092 - mean_absolute_error: 0.0495 - mean_squared_error: 0.0092
Epoch 14/50
115/115 ━━━━━━━━━━━━━━━━━━━━ 1s 9ms/step - loss: 0.0071 - mean_absolute_error: 0.0452 - mean_squared_error: 0.0071
Epoch 15/50
115/115 ━━━━━━━━━━━━━━━━━━━━ 1s 9ms/step - loss: 0.0087 - mean_absolute_error: 0.0457 - mean_squared_error: 0.0087
Epoch 16/50
115/115 ━━━━━━━━━━━━━━━━━━━━ 1s 9ms/step - loss: 0.0065 - mean_absolute_error: 0.0400 - mean_squared_error: 0.0065
Epoch 17/50
115/115 ━━━━━━━━━━━━━━━━━━━━ 1s 10ms/step - loss: 0.0055 - mean_absolute_error: 0.0416 - mean_squared_error: 0.0055
Epoch 18/50
115/115 ━━━━━━━━━━━━━━━━━━━━ 1s 9ms/step - loss: 0.0045 - mean_absolute_error: 0.0384 - mean_squared_error: 0.0045
Epoch 19/50
115/115 ━━━━━━━━━━━━━━━━━━━━ 1s 9ms/step - loss: 0.0035 - mean_absolute_error: 0.0341 - mean_squared_error: 0.0035
Epoch 20/50
115/115 ━━━━━━━━━━━━━━━━━━━━ 1s 10ms/step - loss: 0.0031 - mean_absolute_error: 0.0319 - mean_squared_error: 0.0031
Epoch 21/50
115/115 ━━━━━━━━━━━━━━━━━━━━ 1s 9ms/step - loss: 0.0036 - mean_absolute_error: 0.0324 - mean_squared_error: 0.0036
Epoch 22/50
115/115 ━━━━━━━━━━━━━━━━━━━━ 1s 9ms/step - loss: 0.0023 - mean_absolute_error: 0.0298 - mean_squared_error: 0.0023
Epoch 23/50
115/115 ━━━━━━━━━━━━━━━━━━━━ 1s 9ms/step - loss: 0.0034 - mean_absolute_error: 0.0304 - mean_squared_error: 0.0034
Epoch 24/50
115/115 ━━━━━━━━━━━━━━━━━━━━ 1s 9ms/step - loss: 0.0019 - mean_absolute_error: 0.0255 - mean_squared_error: 0.0019
Epoch 25/50
115/115 ━━━━━━━━━━━━━━━━━━━━ 1s 9ms/step - loss: 0.0021 - mean_absolute_error: 0.0266 - mean_squared_error: 0.0021
Epoch 26/50
115/115 ━━━━━━━━━━━━━━━━━━━━ 1s 9ms/step - loss: 0.0020 - mean_absolute_error: 0.0274 - mean_squared_error: 0.0020
Epoch 27/50
115/115 ━━━━━━━━━━━━━━━━━━━━ 1s 9ms/step - loss: 0.0018 - mean_absolute_error: 0.0254 - mean_squared_error: 0.0018
Epoch 28/50
115/115 ━━━━━━━━━━━━━━━━━━━━ 1s 9ms/step - loss: 0.0013 - mean_absolute_error: 0.0223 - mean_squared_error: 0.0013
Epoch 29/50
115/115 ━━━━━━━━━━━━━━━━━━━━ 1s 9ms/step - loss: 0.0014 - mean_absolute_error: 0.0227 - mean_squared_error: 0.0014
Epoch 30/50
115/115 ━━━━━━━━━━━━━━━━━━━━ 1s 9ms/step - loss: 0.0013 - mean_absolute_error: 0.0230 - mean_squared_error: 0.0013
Epoch 31/50
115/115 ━━━━━━━━━━━━━━━━━━━━ 1s 9ms/step - loss: 0.0012 - mean_absolute_error: 0.0234 - mean_squared_error: 0.0012
Epoch 32/50
115/115 ━━━━━━━━━━━━━━━━━━━━ 1s 9ms/step - loss: 0.0016 - mean_absolute_error: 0.0248 - mean_squared_error: 0.0016
Epoch 33/50
115/115 ━━━━━━━━━━━━━━━━━━━━ 1s 9ms/step - loss: 0.0017 - mean_absolute_error: 0.0265 - mean_squared_error: 0.0017
Epoch 34/50
115/115 ━━━━━━━━━━━━━━━━━━━━ 1s 10ms/step - loss: 0.0015 - mean_absolute_error: 0.0251 - mean_squared_error: 0.0015
Epoch 35/50
115/115 ━━━━━━━━━━━━━━━━━━━━ 1s 9ms/step - loss: 0.0012 - mean_absolute_error: 0.0232 - mean_squared_error: 0.0012
Epoch 36/50
115/115 ━━━━━━━━━━━━━━━━━━━━ 1s 9ms/step - loss: 0.0016 - mean_absolute_error: 0.0238 - mean_squared_error: 0.0016
Epoch 37/50
115/115 ━━━━━━━━━━━━━━━━━━━━ 1s 9ms/step - loss: 0.0012 - mean_absolute_error: 0.0224 - mean_squared_error: 0.0012
Epoch 38/50
115/115 ━━━━━━━━━━━━━━━━━━━━ 1s 9ms/step - loss: 0.0037 - mean_absolute_error: 0.0301 - mean_squared_error: 0.0037
Epoch 39/50
115/115 ━━━━━━━━━━━━━━━━━━━━ 1s 9ms/step - loss: 0.0498 - mean_absolute_error: 0.0834 - mean_squared_error: 0.0498
Epoch 40/50
115/115 ━━━━━━━━━━━━━━━━━━━━ 1s 10ms/step - loss: 0.0244 - mean_absolute_error: 0.1024 - mean_squared_error: 0.0244
Epoch 41/50
115/115 ━━━━━━━━━━━━━━━━━━━━ 1s 9ms/step - loss: 0.0370 - mean_absolute_error: 0.1021 - mean_squared_error: 0.0370
Epoch 42/50
115/115 ━━━━━━━━━━━━━━━━━━━━ 1s 9ms/step - loss: 0.0356 - mean_absolute_error: 0.0922 - mean_squared_error: 0.0356
Epoch 43/50
115/115 ━━━━━━━━━━━━━━━━━━━━ 1s 9ms/step - loss: 0.0111 - mean_absolute_error: 0.0646 - mean_squared_error: 0.0111
Epoch 44/50
115/115 ━━━━━━━━━━━━━━━━━━━━ 1s 9ms/step - loss: 0.0061 - mean_absolute_error: 0.0482 - mean_squared_error: 0.0061
Epoch 45/50
115/115 ━━━━━━━━━━━━━━━━━━━━ 1s 11ms/step - loss: 0.0028 - mean_absolute_error: 0.0335 - mean_squared_error: 0.0028
Epoch 46/50
115/115 ━━━━━━━━━━━━━━━━━━━━ 1s 9ms/step - loss: 0.0020 - mean_absolute_error: 0.0256 - mean_squared_error: 0.0020
Epoch 47/50
115/115 ━━━━━━━━━━━━━━━━━━━━ 1s 9ms/step - loss: 0.0013 - mean_absolute_error: 0.0200 - mean_squared_error: 0.0013
Epoch 48/50
115/115 ━━━━━━━━━━━━━━━━━━━━ 1s 9ms/step - loss: 7.9618e-04 - mean_absolute_error: 0.0159 - mean_squared_error: 7.9618e-04
Epoch 49/50
115/115 ━━━━━━━━━━━━━━━━━━━━ 1s 9ms/step - loss: 5.4569e-04 - mean_absolute_error: 0.0131 - mean_squared_error: 5.4569e-04
Epoch 50/50
115/115 ━━━━━━━━━━━━━━━━━━━━ 1s 9ms/step - loss: 4.5382e-04 - mean_absolute_error: 0.0115 - mean_squared_error: 4.5382e-04

In [12]:
# Predict
y_pred_train_scaled = model.predict(X_train)
y_pred_test_scaled = model.predict(X_test)

# Inverse-transform predictions AND y back to original price scale
y_pred_train = scaler_y.inverse_transform(y_pred_train_scaled)
y_pred_test = scaler_y.inverse_transform(y_pred_test_scaled)
y_train_orig = scaler_y.inverse_transform(y_train)
y_test_orig = scaler_y.inverse_transform(y_test)

# Metrics
print("MSE Train:", mean_squared_error(y_train_orig, y_pred_train))
print("MSE Test:", mean_squared_error(y_test_orig, y_pred_test))
print()
print("MAE Train:", mean_absolute_error(y_train_orig, y_pred_train))
print("MAE Test:", mean_absolute_error(y_test_orig, y_pred_test))

115/115 ━━━━━━━━━━━━━━━━━━━━ 0s 3ms/step
29/29 ━━━━━━━━━━━━━━━━━━━━ 0s 5ms/step
MSE Train: 111738399.5198078
MSE Test: 2004834576109.181

MAE Train: 6169.540674996014
MAE Test: 841924.5226550099